{
  "parser": "babel-eslint",
  "rules": {
    "import/no-named-as-default": 0
  },
  "ignorePatterns": ["**/*_pb.js"],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },

  "env": {
    "es6": true
  }
}